<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title%></h2>
        <div class="content">
            <p><%= blog.body%></p>
        </div>
        <a class="delete" data-doc="<%= blog._id%>"> Delete</a>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
        const del = document.querySelector('a.delete');
        del.addEventListener('click', (e)=>{
            const id = e.target.dataset.doc
            fetch(`/blogs/${id}`,{
                method: 'DELETE'
            })
            .then((response)=>response.json())
            .then(data=>window.location.href = data.redirect)
            .catch(err=>{console.log(err)})
        })
    </script>
</body>
</html>