<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

                <h4 class="title"><%= blog.title %></h4>
                <p class="snippet"><%= blog.snippet %></p>

            <% }) %>
        <% } else{ %>
            <p>there no blogs to desplay :(</p>
       <% } %>

    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>